:root {
  --dark-blue: #1e5a99;
  --background-button: #60c5a8;
}

body {
  background-image: url(https://wallpaperaccess.com/full/5277922.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  color: #fdd5b1;
}

h2 {
  position: center;
  font-size: 1.5vw;
  color: black;
  -webkit-text-stroke: 0.02vw #1e5a99;
  text-transform: uppercase;
}

h2::before {
  content: attr(data-text);
  position: absolute;
  top: 177px;
  left: 600px;
  width: 8%;
  width: 8%;
  height: 10%;
  color: #fdd5b1;
  -webkit-text-stroke: 0.02vw red;
  border-right: 2px solid #fdd5b1;
  overflow: hidden;
  animation: animate 4s linear infinite;
}

@keyframes animate {

  0%,
  50%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 12%;
  }
}

/* Card styling */
.card {
  margin-top: 200px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 4px red;
  padding: 20px;
  background-color: #fdd5b1 !important;
  width: 100%;
  /* Allow the card to take up full width of its container */
  margin-bottom: 20px;
  /* Add some space between cards */
  flex: 1;
  margin: 10px;
  max-width: 300px;
  /* Limit the width on larger screens */
  min-width: 100px;
  /* Ensure a minimum width for smaller screens */
  height: 100%;
  /* Make sure all cards have the same height */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card a {
  padding: 40px;
  text-decoration: none;
  font-size: xx-large;
  color: black;
}

/* Container styling */
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 250px;
  padding-left: 100px;
}

/* Quiz heading styling */
.quiz-heading {
  text-align: center;
  color: #fdd5b1;
}

/* Quiz container styling */
.quiz-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background: #ffebcd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

/* Sub-heading styling */
#sub-heading {
  text-align: center;
  margin-top: 100px;
  text-decoration: underline;

  color: #fdd5b1;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 300px;
  width: 100%;
}

/* Button styling */
#try-again {
  text-align: center;
  font-size: larger;
  color: black;
  background-color: red;
  color: black;
  background-color: red;
  box-shadow: 0 2px 4px rgba(15, 75, 65, 0.758);
  border: black;
  border: black;
  border-radius: 10px;
  padding: 10px;
}

#submit-button {
  color: red;
  background-color: green;
  box-shadow: 0 2px 4px rgba(15, 75, 65, 0.758);
  border: #60c5a8;
  border-radius: 10px;
  padding: 10px;
}



.card {
  margin-top: 20px;
}

.quiz-container {
  padding: 1rem;
}

#sub-heading {
  margin-top: 50px;
}

footer {
  margin-top: 165px;
}

@media (max-width: 576px) {
  .card {
    margin-top: 20px;
    /* Adjust the margin for smaller screens */
    max-width: 100%;
    /* Allow the card to be full width on small screens */
  }

  .container {
    justify-content: center;
    padding-left: 0px;
    margin-left: 0px;
    border-left: 0px;
  }

  
}